.header {
  text-align: center;
  font-size: 70px;
}

#navbar {
  float: right;
}

.post {
  text-align: center;
}

.posts img {
  width: 400px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
}

#application-h1 {
  color: red;
  font-size: 70px;
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
}


.btn {
  margin: 10px;
}

.application-container {
  position: relative;
  padding-bottom: 65px;
}

#footer {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  line-height: 50px;
}
